<div id="art-of-cake" class="container">  
	<div class="row">
		<div class="col-md-6">
		<h2 style="font-family:alegreyabold;font-size:30px;color:#56534c;">{{ section.settings.main-title }}</h2>
		<h4 style="font-family:alegreyareg;font-size:15px;color:#a47d5e;letter-spacing:1.5px;">{{ section.settings.sub-title }}</h4>
		{{ section.settings.text }}
		<h4 style="font-family:alegreyabold;font-size:24px;color:#56534c">Chef Cook</h4>
			<div style="width:80%;margin:0 auto;overflow-y:visible;">
				<h3 style="width:150px; float:left;border-top: 1px solid #d9d8d0;border-bottom: 1px solid #d9d8d0;padding:16px 0;text-align:center;color:#56534c;font-family:alegreyareg">{{ section.settings.f-name }}</h3>
				<img src="{{ section.settings.chef-image | img_url: '100x100' }}" style="position:relative;top:-25px;margin-left:auto;margin-right:auto;width:150px; float:left;display:block;height:auto;padding-right:20px; padding-left:20px"/>
				<h3 style="width:32%; float:left;border-top: 1px solid #d9d8d0;border-bottom: 1px solid #d9d8d0;padding:16px 0;text-align:center;color:#56534c;font-family:alegreyareg">{{ section.settings.l-name }}</h3>
				<div class="clearfix"></div>
				<span style="font-size:60px;float:left;color:#d9d8d0">“</span><br/><br/><blockquote style="font-family:scriptina;font-size:30px;color:#a47d5e">{{ section.settings.quote }}</blockquote><span style="font-size:60px;float:right;color:#d9d8d0;line-height:50px">”</span>
			</div>
		</div>
		<div class="col-md-6">
			<img src="https://cdn.shopify.com/s/files/1/2707/6742/files/sogood-overlay.png?7336980794229375236" id="sogood-overlay"/>
			<div class="row">
				<div class="col-md-6">
					<div style="background: url({{ section.settings.image1 | img_url: '500x500' }}) no-repeat center center; 
					display:block;
					width:100%;
					height:250px;
					padding:4px;
					box-sizing:border-box;
					">
						<div class="border">
						</div>
					</div>						
				</div>
				<div class="col-md-6">
					<div style="background: url({{ section.settings.image2 | img_url: '500x500' }}) no-repeat center center; 
					display:block;
					width:100%;
					height:250px;
					padding:4px;
					box-sizing:border-box;
					">
						<div class="border">
						</div>
					</div>									
				</div>			
			</div>
			<div class="row" style="margin-top:32px">
				<div class="col-md-6">
					<div style="background: url({{ section.settings.image3 | img_url: '500x500' }}) no-repeat center center; 
					display:block;
					width:100%;
					height:250px;
					padding:4px;
					box-sizing:border-box;
					">
						<div class="border">
						</div>
					</div>									
				</div>			
				<div class="col-md-6">
					<div style="background: url({{ section.settings.image4 | img_url: '500x500' }}) no-repeat center center; 
					display:block;
					width:100%;
					height:250px;
					padding:4px;
					box-sizing:border-box;
					">			
						<div class="border">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




{% schema %}
  {
    "name": "Art of cakes",
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image1"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image2"
      },
      {
        "type": "image_picker",
        "id": "image3",
        "label": "Image3"
      },
      {
        "type": "image_picker",
        "id": "image4",
        "label": "Image4"
      },
      {
        "type": "text",
        "id": "main-title",
        "label": "Main Title",
        "default": "Art of cakes"
      },
      {
        "type": "text",
        "id": "sub-title",
        "label": "Subtitle",
        "default": "We create delicious memories"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed.</p>"
      },
	  {
        "type": "image_picker",
        "id": "chef-image",
        "label": "Chef Image"
      },
      {
        "type": "text",
        "id": "f-name",
        "label": "First Name",
        "default": "Benito"
      },
      {
        "type": "text",
        "id": "l-name",
        "label": "Last Name",
        "default": "Gaspare"
      },
      {
        "type": "text",
        "id": "quote",
        "label": "Chef Quote",
		"default": "Unique creation for unique occation"
      }
    ],
    "presets": [
      {
        "name": "Art of cakes",
        "category": "Image"
      }
    ]
  }
{% endschema %}

