<div id="tasty-pancake" style="background: url(https://cdn.shopify.com/s/files/1/2707/6742/files/perpect-bg.jpg?2623129476222953639) no-repeat center center; ">
	<div class="container">
		<div class="row">
			<div class="col-md-1">
			
			</div>
			<div class="col-md-9">
				<div id="blogbox">
					<div class="imageside"  style="background: url(https://cdn.shopify.com/s/files/1/2707/6742/files/1st-food.jpg?2623129476222953639) no-repeat center center;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; ">
					</div>
					<div class="textside">
					<h2 style="font-family:alegreyabold;font-size:43px;color:#56534c;text-transform: capitalize;margin-bottom: 0;">Tasty Pancake</h2>
					<h4 style="font-family:alegreyareg;font-size:15px;color:#a47d5e;letter-spacing:1.5px;margin-bottom:70px">SEASON FAVOURITE</h4>
					<p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus.</p>
					<img src="https://cdn.shopify.com/s/files/1/2707/6742/files/left-arrow.png?4219459330616633620"/>
					<img src="https://cdn.shopify.com/s/files/1/2707/6742/files/pic1.png?4219459330616633620" class="image-entries"/>
					<img src="https://cdn.shopify.com/s/files/1/2707/6742/files/pic2.png?4219459330616633620" class="image-entries"/>
					<img src="https://cdn.shopify.com/s/files/1/2707/6742/files/pic3.png?4219459330616633620" class="last-image-entries"/>
					<img src="https://cdn.shopify.com/s/files/1/2707/6742/files/right-arrow.png?4219459330616633620"/>					
					</div>
				</div>						
			</div>
			<div class="col-md-2">
				<div id="readybox">
					<p>READY IN</p>
					<span style="font-size:70px">40</span>
					<p>mins</p>
				<div>
			<div>
		</div>	
	</div>
</div>

	




{% schema %}
  {
    "name": "tasty-pancake",
    "class": "index-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image1"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image2"
      },
      {
        "type": "image_picker",
        "id": "image3",
        "label": "Image3"
      },
      {
        "type": "image_picker",
        "id": "image4",
        "label": "Image4"
      },
      {
        "type": "text",
        "id": "main-title",
        "label": "Main Title",
        "default": "Art of cakes"
      },
      {
        "type": "text",
        "id": "sub-title",
        "label": "Subtitle",
        "default": "We create delicious memories"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed.</p>"
      },
	  {
        "type": "image_picker",
        "id": "chef-image",
        "label": "Chef Image"
      },
      {
        "type": "text",
        "id": "f-name",
        "label": "First Name",
        "default": "Benito"
      },
      {
        "type": "text",
        "id": "l-name",
        "label": "Last Name",
        "default": "Gaspare"
      },
      {
        "type": "text",
        "id": "quote",
        "label": "Chef Quote",
		"default": "Unique creation for unique occation"
      }
    ],
    "presets": [
      {
        "name": "tasty-pancake",
        "category": "Image"
      }
    ]
  }
{% endschema %}






{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
